<div class="mx-auto w-32 text-center mt-5">
  <ul>
    {{#each (array 'tiny' 'small' 'medium' 'large' 'huge') as |size|}}
      <li>
        <LinkTo
          @params={{array 'game' size}}
          class="
            bg-blue-400 text-white
            block
            font-mono
            mb-2 px-1 py-2
            rounded
          "
        >
          {{size}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
